body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
img {
    width: 80%;
    height: auto;
    margin: 20px 0;
    align-self: flex-start;
    color: #FFF;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
img#LascoC2, img#LascoC3, img#AURORA, img#AURORA_pic {
    width: 40%;
    margin: 20px 0;
}
h1, h2, h3 {
    width: 100%;
    text-align: left;
}
a {
    color: blue;
    text-decoration: none;
}
#lat_lon, #geo_lat, #overviewContent, #forecastContent, #solar_wind {
    margin: 20px 0;
    align-self: flex-start;
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.collapsible {
    cursor: pointer;
}

#toc ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#toc li{
    margin-top: 5px;
}

#toc li.h3 a{
    margin-left: 20px;
}