<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Aurora</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>
    <h1>Better Aurora</h1>

    <h2>Ip Location</h2>
    <p id="lat_lon">Latitude & Longitude</p>
    <p id="geo_lat">Geomagnetic Latitude</p>
    <h2>NOAA Scales Overview <a href="https://www.swpc.noaa.gov/" target="_blank">(Learn more)</a> </h2>
    <div id="overviewContent">Loading...</div>

    <h2> Real-time Solar Wind (AUTO Update every 1 min)<a href="https://www.swpc.noaa.gov/" target="_blank">(Learn more)</a></h2>
    <p id="solar_wind">Solar Wind</p>

    <h2>LASCO Coronagraph (AUTO Update every 120 mins)<a href="https://www.swpc.noaa.gov/products/lasco-coronagraph" target="_blank">(Learn more)</a></h2>
    <h3>LASCO C2</h3>
    <img id="LascoC2" >
    <h3>LASCO C3</h3>
    <img id="LascoC3">

    <h2>WSA-ENLIL Solar Wind Prediction (AUTO Update every 60 mins)<a href="https://www.swpc.noaa.gov/products/wsa-enlil-solar-wind-prediction" target="_blank">(Learn more)</a></h2>
    <img id="WSA">

    <h2>Latest HUXt Ensemble Forecast (AUTO Update every 30 mins)<a href="https://research.reading.ac.uk/met-spate/huxt-forecast/" target="_blank">(Learn more)</a></h2>
    <img id="HUXtImage" alt="BtBz Data" style="max-width: 100%;">

    <h2>3-Day Forecast (AUTO Update every 180 mins)<a href="https://www.swpc.noaa.gov/products/3-day-forecast" target="_blank">(Learn more)</a></h2>
    <pre id="forecastContent"> Loading forecast</pre>

    <h2> 24-hour Kp index (AUTO Update every 30 mins)<a href="https://www.swpc.noaa.gov/products/planetary-k-index" target="_blank">(Learn more)</a></h2>
    <img id="kp_image" alt="Kp Index Image" style="max-width: 100%;">

    <h2>ACE Solar Wind Data (AUTO Update every 10 mins)<a href="https://www.swpc.noaa.gov/products/real-time-solar-wind" target="_blank">(Learn more)</a></h2>
    <img id="BtBzImage" alt="BtBz Data" style="max-width: 100%;">
    <img id="phiImage" alt="Phi Data" style="max-width: 100%;">
    <img id="speedImage" alt="Speed Data" style="max-width: 100%;">
    <img id="densityImage" alt="Density Data" style="max-width: 100%;">
    <img id="temperatureImage" alt="Temperature Data" style="max-width: 100%;">

    <h2>WDC AE Data (AUTO Update every 10 mins)<a href="https://wdc.kugi.kyoto-u.ac.jp/ae_realtime/today/today.html" target="_blank">(Learn more)</a></h2>
    <img id="aeImage" alt="AE Data" style="max-width: 100%;">

    <h2>Aurora 30 min forecast (AUTO Update every 30 mins)<a href="https://www.swpc.noaa.gov/products/aurora-30-minute-forecast" target="_blank">(Learn more)</a></h2>
    <img id="AURORA">


    <script src="/static/js/script.js"></script>
</body>
</html>
